* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.app {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}

#blue {
    background-color: blue;
    height: 100%;
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}

#red {
    background-color: red;
    height: 100%;
    width: 50%;
    float: right;
    padding: 0px;
    margin: 0px;
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px; /* Half the height */
    margin-left: -100px; /* Half the width */
    text-align: center;
    font-family: sans-serif;
    font-size: 200px;
    z-index: 99;
}

h1 {
    position: absolute;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#blue h1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    top: 3em;
    left: 3em;
}

#red h1 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    bottom: 3em;
    right: 3em;
}